@charset "UTF-8";

/************************************************/
/* Base                                         */
/************************************************/

body {
  padding: 0 15px;
  background: #eee;
  color: #333;
}

h1 {
  font-size: 172.8%;
}

h2 {
  font-size: 144.0%;
}

h3 {
  font-size: 122.0%;
}

a {
  color: #11a;
  text-decoration: none;
}

a:hover {
  color: #000;
}

pre {
  background: #000;
  color: #fff;
  margin: 0 5px;
  padding: 10px;
}

img {
  vertical-align: middle;
  margin: 0 2px;
  border-style: none;
}

/************************************************/
/* Each part                                    */
/************************************************/

#container {
  margin: 0 auto;
  width: 1000px;
  background: #ddf;
}

#header {
  background: transparent url(../images/header_bg.png) no-repeat left center;
  text-align: center;
}
#header #project {
  font-size: 90%;
  text-align: right;
  padding: 0 20px 10px 0;
}

#nav {
  padding: 3px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  background: #ccc;
}
#nav ul {
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
}
#nav ul li {
  display: inline;
  list-style-type: none;
}
#nav ul li a,
#nav ul li span {
  color: #666;
  padding: 0 30px 0 20px;
}
#nav ul li a:hover {
  color: #222;
}
#nav ul li span.current {
  color: #000;
}
#nav ul li .home     { background: transparent url(../images/home.png) no-repeat left center; }
#nav ul li .document { background: transparent url(../images/document.png) no-repeat left center; }
#nav ul li .download { background: transparent url(../images/download.png) no-repeat left center; }
#nav ul li .source   { background: transparent url(../images/code.png) no-repeat left center; }

#content {
  padding: 20px 30px;
}
#content .section {
  margin-bottom: 15px;
  padding: 15px 20px 15px 20px;
  background: #eee;
  border-radius: 7px;         /* CSS3 */
  -webkit-border-radius: 7px; /* Safari,Google Chrome */
  -moz-border-radius: 7px;    /* Firefox */
}
#content .section h2 {
  background: url(../images/star.png) no-repeat left center;
  padding: 4px 0 4px 30px;
}
#content .section p {
  padding: 9px;
}
#content .section ul li {
  background: transparent url(../images/triangle.png) no-repeat left center;
  margin-left: 24px;
  padding: 4px 0 4px 20px;
}
#content .section .new {
  background: transparent url(../images/new.png) no-repeat left center;
  padding: 5px 5px 5px 24px;
  color: #f30;
}

/* used only in faq.html */
#content .section .answer {
  margin-top: 10px;
}
#content .section h3 {
  font-size: 144.0%;
  margin: 0;
  padding: 0;
  float: left;
}
#content .section p {
  margin: 0 0 0 24px;
  padding: 5px;
}
#content .section .question h3 { color: #930; }
#content .section .answer   h3 { color: #390; }

/* used only in download.html */
#content .section.download ul li {
  background: transparent url(../images/download.png) no-repeat left center;
}

#footer {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

