@charset "UTF-8";

/************************************************/
/* Base                                         */
/************************************************/

body {
  padding: 0 15px;
  background: #eee;
  color: #333;
}

h1 {
  font-size: 172.8%;
}

h2 {
  font-size: 144.0%;
}

h3 {
  font-size: 122.0%;
}

a {
  color: #11a;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

code {
  background: #000;
  color: #fff;
  margin: 0 15px;
  padding: 10px;
  display: block;
}
pre {
  border-left: 3px #ccc solid;
  color: #000;
  margin: 20px;
  padding: 5px 20px;
}

img {
  vertical-align: middle;
  margin: 0 2px;
  border-style: none;
}

/************************************************/
/* Each part                                    */
/************************************************/

#container {
  margin: 0 auto;
  width: 1000px;
  background: #d9e0f0;
  -webkit-box-shadow: 0 0 50px #aaa; /* Safari,Google Chrome */
  -moz-box-shadow: 0 0 50px #aaa;    /* Firefox */
}

#header {
  position: relative;
  background: transparent url(../images/header_bg.png) no-repeat left center;
  text-align: center;
  height: 120px;
}
#header #project {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 90%;
  text-align: right;
}

#nav {
  padding: 3px 0;
  background: #ccc;
  background: transparent url(../images/nav_bg.png) repeat-x bottom;
}
#nav ul {
  font-size: 100%;
  text-align: center;
  font-weight: bold;
}
#nav ul li {
  display: inline;
  list-style-type: none;
}
#nav ul li a,
#nav ul li span {
  color: #555;
  padding: 5px 30px 5px 20px;
  line-height: 20px;
}
#nav ul li a:hover {
  color: #222;
  text-decoration: none;
  text-shadow: 0 0 10px #ff5;
}
#nav ul li span.current {
  color: #000;
}
#nav ul li .home     { background: transparent url(../images/home.png) no-repeat left center; }
#nav ul li .document { background: transparent url(../images/document.png) no-repeat left center; }
#nav ul li .download { background: transparent url(../images/download.png) no-repeat left center; }
#nav ul li .source   { background: transparent url(../images/code.png) no-repeat left center; }

#content {
  padding: 20px 30px;
}
#content .section {
  margin-bottom: 15px;
  padding: 15px 20px 15px 20px;
  background: #fff;
  border-radius: 7px;         /* CSS3 */
  -webkit-border-radius: 7px; /* Safari,Google Chrome */
  -moz-border-radius: 7px;    /* Firefox */
  -webkit-box-shadow: 0 0 10px #ccc; /* Safari,Google Chrome */
  -moz-box-shadow: 0 0 10px #ccc;    /* Firefox */
}
#content .section h2 {
  background: url(../images/star.png) no-repeat left center;
  padding: 4px 0 4px 30px;
}
#content .section p {
  padding: 9px;
}
#content .section ul li {
  background: transparent url(../images/triangle.png) no-repeat left center;
  margin-left: 36px;
  padding: 4px 0 4px 20px;
}
#content .section .new {
  background: transparent url(../images/new.png) no-repeat left center;
  padding: 5px 5px 5px 24px;
  color: #f30;
}

/* used only in faq.html */
#content .section .answer {
  margin-top: 10px;
}
#content .section h3 {
  font-size: 144.0%;
  margin: 0;
  padding: 0;
  float: left;
}
#content .section p {
  margin: 0 0 0 24px;
  padding: 5px;
}
#content .section .question h3 { color: #930; }
#content .section .answer   h3 { color: #390; }

/* used only in download.html */
#content .section.download ul li {
  background: transparent url(../images/download.png) no-repeat left center;
}

#footer {
  text-align: center;
  padding: 10px;
  font-style: italic;
}

