@charset "UTF-8";
 
/* reset styles */
 
html, body, div, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td, form, fieldset {
  margin: 0;
  padding: 0;
}

/* テーブルの枠線の間隔を空けない */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul li, ol li {
  list-style-type: none;
}

h1,h2,h3,h4,h5,h6 { 
  font-size:100%; 
}

/* 画像のリンクボーダーを非表示に */ 
img {
  border: 0;
}

/* 画像とフォームパーツの上下位置をテキストの真ん中に */ 
img, input, select, textarea {
  vertical-align: middle;
}

 
/* すべてのブラウザで、どのような状況でも縦スクロールバーを表示 */ 
html {
  overflow: scroll;
  overflow: -moz-scrollbars-vertical; /* FirefoxのCSS3先行実装 */
  overflow-x: scroll; /* Firefoxで横スクロールバーが表示されない問題を回避 */
}
 
/* For IE7 hasLayout issue */
/* IE7のページ拡大時にレイアウトが崩れる問題の回避 */
*:first-child+html * {
  letter-spacing: 0; /* hasLayout問題を回避 */
}
 
/* floatした要素の高さは親要素の高さに反映されない問題を回避するハック */
.clearfix:after {
  content: "."; /* 新しい要素を作る */
  display: block; /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}
 
.clearfix {
  min-height: 1px;
}
 
* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}
