@charset "UTF-8";

body {
  margin: 1em;
  background-color: #aaf;
  color: #333;
}
h1 {
  font-size: 3.8em;
  margin: 5px 0;
}
a {
  color: #11a;
  text-decoration: none;
}
a:hover {
  color: #000;
}
h2 {
  font-size: 1.5em;
  margin: 10px 0 5px 0;
}
h3 {
  text-align: center;
}
pre {
  background: #000;
  color: #fff;
  margin: 0 8px;
  padding: 10px;
  font-size: 0.8em;
}
hr {
  width: 80%;
  border: 1px solid #aaa;
}
img {
  vertical-align: middle;
  margin: 0 2px;
  border-style: none;
}
.section ul li {
  background: transparent url(../images/triangle.png) no-repeat left center;
  margin-left: 1em;
  padding: 4px 0 4px 2em;
}

.small {
  font-size: 0.8em;
  text-align: right;
}
.section,.toc_section {
  margin: 1.5em 0;
  font-size: 1.1em;
}

.section h2 {
  padding-left: 30px;
  background: url(../images/star.png) no-repeat;
}

.toc_section h2 {
  padding-left: 30px;
  background: url(../images/star.png) no-repeat;
}

.section p {
  padding: 0.5em;
}

.toc_section p {
  padding: 0.5em;
}

.footer {
  text-align: center;
  margin-top: 15px;
  font-style: italic;
}

#head {
  margin-top: 10px;
}
#head ul {
  font-size: 1.2em;
  font-family: "lucida console", "monaco", "andale mono", "bitstream vera sans mono", "consolas", monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#head ul a {
  color: #555;
}
#head ul a:hover {
  color: #000;
}
#head ul li {
  display: inline;
  list-style-type: none;
  padding-right: 0.5em;
}

#container {
  margin: 0 auto;
  width: 700px;
}

#content {
  margin: 7px auto;
  border-top: 4px solid #335;
  border-bottom: 4px solid #335;
  padding: 10px 0;
}

span.answer {
  color: #23f;
  margin-top: 1em;
  font-size: 1.2em;
  text-decoration: bold;
}
span.question {
  color: #3a6;
  font-size: 1.2em;
  text-decoration: bold;
  margin-top: 0.5em;
}
.QANDA {
  margin: 7px auto;
  padding: 10px;
  border-top: 4px solid #555;
  background: #eef;
  border-radius: 10px;         /* CSS3 */
  -webkit-border-radius: 10px; /* Safari,Google Chrome */
  -moz-border-radius: 10px;    /* Firefox */
}

.section, .toc_section {
  margin: 7px auto;
  padding: 10px;
  border-top: 4px solid #555;
  background: #eef;
  border-radius: 10px;         /* CSS3 */
  -webkit-border-radius: 10px; /* Safari,Google Chrome */
  -moz-border-radius: 10px;    /* Firefox */
}

.download ul li {
  background: transparent url(../images/download.png) no-repeat left center;
}

