{% extends "!layout.html" %}
{%- block relbar1 %}{% endblock %}
{%- block relbar2 %}{% endblock %}
{% block header %}
<div class="container">
  <div class="header">
    <img class="logo" src="static/images/logo.png" alt="GroovyServ" />
    <div class="project">
      by <a href="http://github.com/kobo">kobo</a> project
    </div>
  </div>
{% endblock %}
{% block footer %}
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3438563-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}
